[access]
	inheritFrom = scp
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/oran-gerrit-scp-oam-modeling-committers
	read = group GitHub Replication
[project]
	description = The repo contains infromation (UML) and data models (yang, ves) used by O-RAN SC.
[plugin "its-jira"]
	enabled = true
